<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg">
                    <!-- Logo -->
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo.png" alt="Logo" height=32>
                    </a>
                    <!-- Navbar Toggler -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#worldNav" aria-controls="worldNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <!-- Navbar -->
                    <div class="collapse navbar-collapse" id="worldNav">
                        <ul class="navbar-nav ml-auto pull-left">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">主页</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/blogs.html">推文</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">相册</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact.html">联系</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>