<div class="row mb-4">
    <div class="col-lg-4">
        <div class="review-pic">
            <a href="{{post.url}}">
            <img class="img-fluid" src="{{post.src}}" alt="">
            </a>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="review-content text-box text-white">
          <div class="rating">
            <h5><i>Posted on </i><span style="font-size: 0.6em; color: pink">{{post.date | split: " " | first}}</span></h5>
            </div>
            <div class="top-meta">
                <a href="{{post.url}}"><h3>{{post.title}}</h3></a>
                <div class="post-content">{{post.content | truncate: 270}}</div>
                <a href="{{post.url}}" class="read-more">Read More <img src="/assets/img/icons/double-arrow.png" alt="#" /></a>
            </div>
        </div>
    </div>
</div>
